.rigester-conntainer {
  background-color: rgba(49, 74, 89, 0.9);
}
.input-style {
  background-color: transparent;
  border-bottom: 0.3px solid rgba(255, 255, 255, 1);
  padding-bottom: 5px;
  color: white;
}
.input-style::placeholder {
  color: white;
  font-size: 15px;
}
.lable-style {
  color: var(--mainColor);
  font-size: 12px;
  line-height: 22px;
  font-weight: 400px;
}
.btn-mainColor{
    background-color: var(--mainColor) !important;
}
.handle-eye{
  right: 2%;
  cursor: pointer;
}