.forgetPass {
    background-image: url("../src/assets/loginbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.forgetPassContent {
    width: 100%;
    background-color: rgba(49, 89, 81, 0.9);
    border-radius: 16px;
    
}