
.authTitle p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -4;
}


.authTitle h2 {
    color: #EF9B28;
    font-weight: 700;
    letter-spacing: -4;
    font-size: 16px;
}

.authTitle span {
    background-color: #EF9B28;
    width: 16px;
    height: 4px;
    display: block;
}   
/* media quary */

@media (min-width: 576px) {  }

@media (min-width: 768px) {  }

@media (min-width: 992px) { 
    .authTitle h2{
        font-size: 32px;
    }
 }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }

