.sidebar-container{
    background-color: #0E382F!important;
}
.css-dip3t8 {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
    background-color: rgb(14 56 47) !important;
    color: #fff;
}
.css-1t8x7v1 >.ps-menu-button:hover {
    background-color: transparent !important;
}