* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;

  

}
.auth-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../src/assets/loginbg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.input-group-append {
  position: absolute;
  right: 0;
  bottom: 0.75rem;
}

.input-group-text {
  background-color: transparent !important;
  width: 100%;
  height: 100%;
  border: 0 !important;
}

.input-group-text i {
  width: 20px !important;
  height: 20px !important;
}

input:active,
input:focus {
  outline: none !important;
  box-shadow: none !important;
  /* border: none !important; */
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  border: none;
}

.authForm label {
  color: #ef9b28;
  font-size: 14px;
  font-weight: 500;
}

.authForm input {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  padding: 5px 0px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.authForm input::placeholder {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

.auth {
  background-image: url("../src/assets/loginbg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-content {
  width: 100%;
  background-color: rgba(49, 89, 81, 0.9);
  border-radius: 16px;
}

.dashboard-container {
  background-image: url("../src/assets/home-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-container{
  background-color: #0E382F!important;
  height: 100dvh;
  
}

.css-dip3t8 {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(14 56 47) !important;
  color: #fff;
}
.css-1t8x7v1 >.ps-menu-button:hover {
  background-color: transparent !important;
}